In [236]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [158]:
'''
url1 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/f4495ee9-c42c-4019-82c1-d067f07e45d2/download/tmplvp64a10.csv'
dataset1 = pd.read_csv(url1, error_bad_lines=False)
url2 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/be047094-85fe-4104-a480-4fa3d03f9623/download/script_113631134_20210423193017_combine.csv'
dataset2 = pd.read_csv(url1, error_bad_lines=False)
url3 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/34e0ae6b-8c94-4998-ae9e-1b51551fe9ba/download/script_113631134_20210423192813_combine.csv'
dataset3 = pd.read_csv(url1, error_bad_lines=False)
url4 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/e86f8e38-a23c-4c1a-8455-c8f94210a8f1/download/crime-incident-reports-2018.csv'
dataset4 = pd.read_csv(url1, error_bad_lines=False)
url5 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/64ad0053-842c-459b-9833-ff53d568f2e3/download/crime-incident-reports-2017.csv'
dataset5 = pd.read_csv(url1, error_bad_lines=False)
url6 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/b6c4e2c3-7b1e-4f4a-b019-bef8c6a0e882/download/crime-incident-reports-2016.csv'
dataset6 = pd.read_csv(url1, error_bad_lines=False)
url7 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/792031bf-b9bb-467c-b118-fe795befdf00/download/crime-incident-reports-2015.csv'
dataset7 = pd.read_csv(url1)


dataset = pd.concat([dataset1,dataset2,dataset3,dataset4,dataset5,dataset6,dataset7])
'''

"\nurl1 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/f4495ee9-c42c-4019-82c1-d067f07e45d2/download/tmplvp64a10.csv'\ndataset1 = pd.read_csv(url1, error_bad_lines=False)\nurl2 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/be047094-85fe-4104-a480-4fa3d03f9623/download/script_113631134_20210423193017_combine.csv'\ndataset2 = pd.read_csv(url1, error_bad_lines=False)\nurl3 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/34e0ae6b-8c94-4998-ae9e-1b51551fe9ba/download/script_113631134_20210423192813_combine.csv'\ndataset3 = pd.read_csv(url1, error_bad_lines=False)\nurl4 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/e86f8e38-a23c-4c1a-8455-c8f94210a8f1/download/crime-incident-reports-2018.csv'\ndataset4 = pd.read_csv(url1, error_bad_lines=False)\nurl5 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/64ad0053-842c-459b-9833-ff53d568f2e3/download/crime-incident-reports-2017.csv'\ndataset5 = pd.read_csv(url1, error_bad_lines=False)\nurl6 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/b6c4e2c3-7b1e-4f4a-b019-bef8c6a0e882/download/crime-incident-reports-2016.csv'\ndataset6 = pd.read_csv(url1, error_bad_lines=False)\nurl7 = 'https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/792031bf-b9bb-467c-b118-fe795befdf00/download/crime-incident-reports-2015.csv'\ndataset7 = pd.read_csv(url1)\n\n\ndataset = pd.concat([dataset1,dataset2,dataset3,dataset4,dataset5,dataset6,dataset7])\n"

In [269]:
dataset1=pd.read_csv('crime-incident-reports-2015.csv',error_bad_lines=False)
dataset2=pd.read_csv('crime-incident-reports-2016.csv',error_bad_lines=False)
dataset3=pd.read_csv('crime-incident-reports-2017.csv',error_bad_lines=False)
dataset4=pd.read_csv('crime-incident-reports-2018.csv',error_bad_lines=False)
dataset5=pd.read_csv('crime-incident-reports-2019.csv',error_bad_lines=False)
dataset6=pd.read_csv('crime-incident-reports-2020.csv',error_bad_lines=False)
dataset7=pd.read_csv('crime-incident-reports-2021.csv',error_bad_lines=False)
dataset = pd.concat([dataset1,dataset2,dataset3,dataset4,dataset5,dataset6,dataset7])

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [270]:
dataset['UCR_PART'].unique()

array(['Part Two', 'Part Three', 'Part One', 'Other', nan], dtype=object)

In [238]:
dataset

      INCIDENT_NUMBER  ...                               Location
0          I192068249  ...            (42.33011862, -71.08425106)
1          I192061894  ...            (42.30060543, -71.06126785)
2          I192038828  ...            (42.33428841, -71.07239518)
3          I192008877  ...            (42.23700950, -71.12956606)
4          I182090828  ...            (42.34243222, -71.07225766)
...               ...  ...                                    ...
21140       121008581  ...  (42.2975553295965, -71.0597091024257)
21141       121005808  ...  (42.3336792181085, -71.0918775461846)
21142       121000816  ...                                 (0, 0)
21143       120221042  ...   (42.2839024364831, -71.130862626435)
21144        10637224  ...  (42.3339512483938, -71.0753893882269)

[465074 rows x 17 columns]

In [239]:
dataset['UCR_PART'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
21140     True
21141     True
21142     True
21143     True
21144     True
Name: UCR_PART, Length: 465074, dtype: bool

In [240]:
dataset.dropna(subset = ["UCR_PART"], inplace=True) # Drop rows with no values from Target column

In [241]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
dataset["UCR_PART"]=le.fit_transform(dataset["UCR_PART"])

In [242]:
# check missing value in dataset
missing = dataset.isna().sum().sort_values(ascending = False)
percent_missing = ((missing / dataset.isnull().count()) * 100).sort_values(ascending = False)
missing_df = pd.concat([missing,percent_missing], axis = 1, keys = ['Total', 'Percent'],sort = False)
missing_df[missing_df['Total'] >= 1]

           Total    Percent
SHOOTING  351708  99.589983
Lat        22529   6.379334
Long       22529   6.379334
STREET     11205   3.172819
DISTRICT    1827   0.517335

In [243]:
## removing columns with missing values more than 10%
missing_df = missing_df.reset_index()
over10 = list(missing_df.loc[missing_df['Percent'] >= 10,'index'])
dataset = dataset.drop(over10, axis = 1)

In [244]:
# check missing value in dataset
missing = dataset.isna().sum().sort_values(ascending = False)
percent_missing = ((missing / dataset.isnull().count()) * 100).sort_values(ascending = False)
missing_df = pd.concat([missing,percent_missing], axis = 1, keys = ['Total', 'Percent'],sort = False)
missing_df[missing_df['Total'] >= 1]

          Total   Percent
Long      22529  6.379334
Lat       22529  6.379334
STREET    11205  3.172819
DISTRICT   1827  0.517335

In [245]:
# Drop missing rows from Columns
dataset.dropna(subset = ["STREET"], inplace=True) # Drop rows with no values 
dataset.dropna(subset = ["DISTRICT"], inplace=True) # Drop rows with no values 
dataset.dropna(subset = ["Location"], inplace=True) # Drop rows with no values 
dataset.dropna(subset = ["Long"], inplace=True) # Drop rows with no values 
dataset.dropna(subset = ["Lat"], inplace=True) # Drop rows with no values

In [246]:
dataset

      INCIDENT_NUMBER  OFFENSE_CODE  ...       Long                     Location
0          I192068249          2647  ... -71.084251  (42.33011862, -71.08425106)
1          I192061894          1106  ... -71.061268  (42.30060543, -71.06126785)
2          I192038828          1107  ... -71.072395  (42.33428841, -71.07239518)
3          I192008877          1107  ... -71.129566  (42.23700950, -71.12956606)
4          I182090828          1102  ... -71.072258  (42.34243222, -71.07225766)
...               ...           ...  ...        ...                          ...
98883   I070720870-00           802  ... -71.089902  (42.30956305, -71.08990197)
98884   I070720870-00          3125  ... -71.089902  (42.30956305, -71.08990197)
98885   I060168073-00          1864  ... -71.100967  (42.32283759, -71.10096723)
98886   I060168073-00          1864  ... -71.100967  (42.32283759, -71.10096723)
98887   I060168073-00          3125  ... -71.100967  (42.32283759, -71.10096723)

[328095 rows x 16 columns]

In [247]:
# removing columns intutively

dataset=dataset.drop(columns=['INCIDENT_NUMBER','OFFENSE_CODE','OCCURRED_ON_DATE','Location','OFFENSE_CODE_GROUP','OFFENSE_DESCRIPTION'])

In [248]:
dataset

      DISTRICT REPORTING_AREA  YEAR  ...         STREET        Lat       Long
0           B2            280  2015  ...  WASHINGTON ST  42.330119 -71.084251
1          C11            356  2015  ...     CHARLES ST  42.300605 -71.061268
2           A1            172  2015  ...      ALBANY ST  42.334288 -71.072395
3          E18            525  2015  ...     WINGATE RD  42.237009 -71.129566
4           D4            159  2015  ...       UPTON ST  42.342432 -71.072258
...        ...            ...   ...  ...            ...        ...        ...
98883       B2            318  2018  ...  BROOKLEDGE ST  42.309563 -71.089902
98884       B2            318  2018  ...  BROOKLEDGE ST  42.309563 -71.089902
98885      E13            912  2018  ...      CENTRE ST  42.322838 -71.100967
98886      E13            912  2018  ...      CENTRE ST  42.322838 -71.100967
98887      E13            912  2018  ...      CENTRE ST  42.322838 -71.100967

[328095 rows x 10 columns]

In [249]:

#Encoder
def label_encoder(dataset):
    dataset_lencoded = dataset.copy(deep=True);

   
    #Takes in dataset, returns label encoded dataframe and the label encoder models
    label_encoders = [None]*dataset_lencoded.shape[1];

    List_Of_Categories_In_Column=list(dataset_lencoded.select_dtypes(include=['object']))
    J=0
    for i in List_Of_Categories_In_Column:
        le = LabelEncoder()
        dataset_lencoded[i] = le.fit_transform(dataset_lencoded[i])
        label_encoders[j] = le
        J=J+1
    return dataset_lencoded

'''
#Decoder
def label_decoder(dataset_lencoded, label_encoders):

    #Takes in encoded dataframe and list of encoders and returns decoded dataset
    #Label encoder is a list of label encoder models pertaining to each column
    for i in range(dataset_lencoded.shape[1]):
        dataset_lencoded.iloc[:,i] = label_encoders[i].inverse_transform(dataset_lencoded.iloc[:,i])

    return dataset_lencoded #Now it is decoded
'''

'\n#Decoder\ndef label_decoder(dataset_lencoded, label_encoders):\n\n    #Takes in encoded dataframe and list of encoders and returns decoded dataset\n    #Label encoder is a list of label encoder models pertaining to each column\n    for i in range(dataset_lencoded.shape[1]):\n        dataset_lencoded.iloc[:,i] = label_encoders[i].inverse_transform(dataset_lencoded.iloc[:,i])\n\n    return dataset_lencoded #Now it is decoded\n'

In [250]:
dataset_l_encoded=label_encoder(dataset)

In [177]:
'''
df_onehot = dataset.copy()
for c in List_Of_Categories_In_Column:
    df_onehot = pd.get_dummies(df_onehot, columns=['c'], prefix = ['c'])


#df_onehot.head()
'''

"\ndf_onehot = dataset.copy()\nfor c in List_Of_Categories_In_Column:\n    df_onehot = pd.get_dummies(df_onehot, columns=['c'], prefix = ['c'])\n\n\n#df_onehot.head()\n"

In [178]:
'''
df_onehot = dataset.copy()

df_onehot = pd.get_dummies(df_onehot, columns=['OFFENSE_CODE_GROUP'], prefix = ['OFFENSE_CODE_GROUP'])
df_onehot = pd.get_dummies(df_onehot, columns=['OFFENSE_DESCRIPTION'], prefix = ['OFFENSE_DESCRIPTION'])
df_onehot = pd.get_dummies(df_onehot, columns=['DISTRICT'], prefix = ['DISTRICT'])
df_onehot = pd.get_dummies(df_onehot, columns=['REPORTING_AREA'], prefix = ['REPORTING_AREA'])
#df_onehot = pd.get_dummies(df_onehot, columns=['OCCURRED_ON_DATE'], prefix = ['OCCURRED_ON_DATE'])
df_onehot = pd.get_dummies(df_onehot, columns=['YEAR'], prefix = ['YEAR'])
df_onehot = pd.get_dummies(df_onehot, columns=['MONTH'], prefix = ['MONTH'])
df_onehot = pd.get_dummies(df_onehot, columns=['DAY_OF_WEEK'], prefix = ['DAY_OF_WEEK'])
df_onehot = pd.get_dummies(df_onehot, columns=['STREET'], prefix = ['STREET'])
#df_onehot = pd.get_dummies(df_onehot, columns=['Location'], prefix = ['Location'])

'''

"\ndf_onehot = dataset.copy()\n\ndf_onehot = pd.get_dummies(df_onehot, columns=['OFFENSE_CODE_GROUP'], prefix = ['OFFENSE_CODE_GROUP'])\ndf_onehot = pd.get_dummies(df_onehot, columns=['OFFENSE_DESCRIPTION'], prefix = ['OFFENSE_DESCRIPTION'])\ndf_onehot = pd.get_dummies(df_onehot, columns=['DISTRICT'], prefix = ['DISTRICT'])\ndf_onehot = pd.get_dummies(df_onehot, columns=['REPORTING_AREA'], prefix = ['REPORTING_AREA'])\n#df_onehot = pd.get_dummies(df_onehot, columns=['OCCURRED_ON_DATE'], prefix = ['OCCURRED_ON_DATE'])\ndf_onehot = pd.get_dummies(df_onehot, columns=['YEAR'], prefix = ['YEAR'])\ndf_onehot = pd.get_dummies(df_onehot, columns=['MONTH'], prefix = ['MONTH'])\ndf_onehot = pd.get_dummies(df_onehot, columns=['DAY_OF_WEEK'], prefix = ['DAY_OF_WEEK'])\ndf_onehot = pd.get_dummies(df_onehot, columns=['STREET'], prefix = ['STREET'])\n#df_onehot = pd.get_dummies(df_onehot, columns=['Location'], prefix = ['Location'])\n\n"

In [251]:
X = dataset_l_encoded.loc[:,dataset.columns!='UCR_PART']
Y = dataset_l_encoded['UCR_PART']
Y.to_frame()

       UCR_PART
0             3
1             3
2             3
3             3
4             3
...         ...
98883         3
98884         2
98885         3
98886         3
98887         2

[328095 rows x 1 columns]

In [252]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1)
X_train

       DISTRICT  REPORTING_AREA  YEAR  ...  STREET        Lat       Long
27214        11             801  2016  ...     414  -1.000000  -1.000000
41466         7             794  2018  ...    1825  42.358286 -71.128575
96718         3             226  2016  ...    2249  42.323696 -71.095647
832           5             274  2017  ...    1584  42.326968 -71.080519
35501        11             690  2015  ...    2438  42.273427 -71.168456
...         ...             ...   ...  ...     ...        ...        ...
72112         5             286  2016  ...    1472  42.298489 -71.063133
23805         4             352  2016  ...    1299  42.281049 -71.072064
81750         0             599  2018  ...     687  42.361928 -71.070820
33158         7             769  2018  ...     820  42.348357 -71.136453
83364         5              62  2016  ...    3593  42.342259 -71.077497

[262476 rows x 9 columns]

In [261]:
## defining a reusable function to evaluate model performance

def eval_result(model_name,y_train,y_predtrain,y_test,y_predtest):

    from sklearn.metrics import accuracy_score, roc_auc_score, classification_report, plot_confusion_matrix, plot_roc_curve
    from matplotlib import pyplot as plt
    

    train_accuracy = accuracy_score(y_train, y_predtrain)
    print(f'training data accuracy {train_accuracy}')
 
    
    test_accuracy = accuracy_score(y_test, y_predtest)
    print(f'testing data accuracy {test_accuracy}')
   
    
    print(classification_report(y_test,y_predtest,digits=5))
    #errorMatrix(y_test,y_predtest,percentage=TRUE,digits=ifelse(percentage,1,3), count=FALSE)
    #plot_confusion_matrix(model_name, X_test, y_test,cmap=plt.cm.pink, normalize = 'all')
    #plot_roc_curve(model_name, X_test, y_test)

In [ ]:
# RUN_ONCE

'''
# Hyperparameter Tuning
from sklearn.ensemble import RandomForestClassifier


n_estimators_hyp = [100,200,300,400,500,700,1000]
min_sample_leaf_hyp = np.linspace(1,20, 20);

oobscore_list=dict()

for i in n_estimators_hyp:
    for j in min_sample_leaf_hyp:
        rf_model = RandomForestClassifier(n_estimators=i, min_samples_leaf=int(j), oob_score=True);
        rf_model.fit(X_train, y_train)
        key = "n_estimator =" +str(i)+" min_sample_leaf ="+str(j);
        oobscore_list[key]=rf_model.oob_score_

    #oobscore_list.append(rf_model.oob_score_)

oobscore_list
,,,

In [ ]:
from sklearn.ensemble import RandomForestClassifier


# building model from parameters choosen from hyperparameter tuning


rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=400,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(X_train, y_train)
print("%.4f" % rf.oob_score_)

In [255]:
# Predicting results

y_predtrain = rf.predict(X_train)
y_predtest = rf.predict(X_test)

pr1=pd.DataFrame(y_predtest,columns=["Pred"])

pr1["Actual"]=y_test.values

print(f"{pr1}")

       Pred  Actual
0         2       2
1         3       1
2         2       2
3         1       0
4         2       2
...     ...     ...
65614     2       2
65615     2       1
65616     2       2
65617     2       3
65618     2       2

[65619 rows x 2 columns]

In [263]:
## evaluating model performance 

eval_result(rf,y_train,y_predtrain,y_test,y_predtest)

training data accuracy 0.8381109129977597
testing data accuracy 0.5356223045154604
              precision    recall  f1-score   support

           0    0.72727   0.02817   0.05424       284
           1    0.46218   0.21414   0.29268     12954
           2    0.55995   0.80879   0.66175     32295
           3    0.48190   0.31091   0.37797     20086

    accuracy                        0.53562     65619
   macro avg    0.55783   0.34050   0.34666     65619
weighted avg    0.51748   0.53562   0.49940     65619

In [268]:
y_test.value_counts()/y_test.count()

2    0.492159
3    0.306100
1    0.197412
0    0.004328
Name: UCR_PART, dtype: float64

In [266]:
type(y_test)

pandas.core.series.Series