<a href="https://colab.research.google.com/github/Mayank-004/Boston-Crime/blob/main/BostonCRIME_Pyspark_Randomforest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 69kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 36.7MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=cffe509763d4246b6aa985c8d8f26fae0184bfa1f6ac58dd973f87e8a30177e5
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

NameError: ignored

In [18]:
import pyspark
import pandas as pd
#from pyspark.sql import SparkSession
#from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
#from pyspark.sql.types import ArrayType, DoubleType, BooleanType
#from pyspark.sql.functions import col,array_contains
#fdf = spark.read.load("crime-incident-reports-2015.csv",format="csv", sep=",", inferSchema="true", header="true")

In [5]:
#spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [23]:
df1 = spark.read.csv("/content/drive/MyDrive/Boston Crime Data/crime-incident-reports-2015.csv")
df2 = spark.read.csv("/content/drive/MyDrive/Boston Crime Data/crime-incident-reports-2016.csv")
df3 = spark.read.csv("/content/drive/MyDrive/Boston Crime Data/crime-incident-reports-2017.csv")
df4 = spark.read.csv("/content/drive/MyDrive/Boston Crime Data/crime-incident-reports-2018.csv")
df5 = spark.read.csv("/content/drive/MyDrive/Boston Crime Data/crime-incident-reports-2019.csv")
df6 = spark.read.csv("/content/drive/MyDrive/Boston Crime Data/crime-incident-reports-2020.csv")
df6 = spark.read.csv("/content/drive/MyDrive/Boston Crime Data/crime-incident-reports-2021.csv")
union_data = df1.unionAll(df2).unionAll(df3).unionAll(df4)

In [24]:
union_data.show()

+---------------+------------+-------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-------------+-----------+------------+--------------------+
|            _c0|         _c1|                _c2|                 _c3|     _c4|           _c5|     _c6|                _c7| _c8|  _c9|       _c10|_c11|      _c12|         _c13|       _c14|        _c15|                _c16|
+---------------+------------+-------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-------------+-----------+------------+--------------------+
|INCIDENT_NUMBER|OFFENSE_CODE| OFFENSE_CODE_GROUP| OFFENSE_DESCRIPTION|DISTRICT|REPORTING_AREA|SHOOTING|   OCCURRED_ON_DATE|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|       STREET|        Lat|        Long|            Location|
|     I192068249|       02647|              Other|THREATS TO DO BOD...|      B2|           280|    null|2015-08-28 10:20:00|2015|    8|     Friday|  10|  Part Two|WASHINGTON ST|42.33011862|-71.08425106|(42.33011862, -71...|
|     I192061894|       01106|   Confidence Games|FRAUD - CREDIT CA...|     C11|           356|    null|2015-08-20 00:00:00|2015|    8|   Thursday|   0|  Part Two|   CHARLES ST|42.30060543|-71.06126785|(42.30060543, -71...|
|     I192038828|       01107|              Fraud|FRAUD - IMPERSONA...|      A1|           172|    null|2015-11-02 12:24:00|2015|   11|     Monday|  12|  Part Two|    ALBANY ST|42.33428841|-71.07239518|(42.33428841, -71...|
|     I192008877|       01107|              Fraud|FRAUD - IMPERSONA...|     E18|           525|    null|2015-07-31 10:00:00|2015|    7|     Friday|  10|  Part Two|   WINGATE RD| 42.2370095|-71.12956606|(42.23700950, -71...|
|     I182090828|       01102|              Fraud|FRAUD - FALSE PRE...|      D4|           159|    null|2015-12-01 12:00:00|2015|   12|    Tuesday|  12|  Part Two|     UPTON ST|42.34243222|-71.07225766|(42.34243222, -71...|
|     I182090458|       01107|              Fraud|FRAUD - IMPERSONA...|     C11|           336|    null|2015-12-04 00:00:00|2015|   12|     Friday|   0|  Part Two|    NORTON ST|42.30626521|-71.06864556|(42.30626521, -71...|
|     I182081063|       01107|              Fraud|FRAUD - IMPERSONA...|     E18|           478|    null|2015-12-01 12:25:00|2015|   12|    Tuesday|  12|  Part Two|RUSKINDALE RD|42.26889666| -71.1081375|(42.26889666, -71...|
|     I182074094|       02629|         Harassment|          HARASSMENT|      B2|           258|    null|2015-09-14 09:31:00|2015|    9|     Monday|   9|  Part Two|  COLUMBIA RD|42.31514179|-71.06704709|(42.31514179, -71...|
|     I182066132|       02629|         Harassment|          HARASSMENT|      B3|           455|    null|2015-07-31 23:27:00|2015|    7|     Friday|  23|  Part Two| RADCLIFFE ST|42.30020194|-71.07835353|(42.30020194, -71...|
|     I182061268|       03201|      Property Lost|     PROPERTY - LOST|    null|              |    null|2015-06-15 00:00:00|2015|    6|     Monday|   0|Part Three|      BERNARD|         -1|          -1|(-1.00000000, -1....|
|     I182054888|       02670|Criminal Harassment| CRIMINAL HARASSMENT|      B2|           326|    null|2015-07-12 15:37:00|2015|    7|     Sunday|  15|  Part Two|   FAYSTON ST|42.31224327|-71.07549901|(42.31224327, -71...|
|     I182054888|       03170|              Other|INTIMIDATING WITNESS|      B2|           326|    null|2015-07-12 15:37:00|2015|    7|     Sunday|  15|Part Three|   FAYSTON ST|42.31224327|-71.07549901|(42.31224327, -71...|
|     I182054888|       02647|              Other|THREATS TO DO BOD...|      B2|           326|    null|2015-07-12 15:37:00|2015|    7|     Sunday|  15|  Part Two|   FAYSTON ST|42.31224327|-71.07549901|(42.31224327, -71...|
|     I182052842|       01102|              Fraud|FRAUD - FALSE PRE...|      D4|           149|    null|2015-12-20 14:00:00|2015|   12|     Sunday|  14|  Part Two| DARTMOUTH ST|42.34767067|-71.07620742|(42.34767067, -71...|
|     I182052842|       00619|            Larceny|  LARCENY ALL OTHERS|      D4|           149|    null|2015-12-20 14:00:00|2015|   12|     Sunday|  14|  Part One| DARTMOUTH ST|42.34767067|-71.07620742|(42.34767067, -71...|
|     I182044114|       01107|              Fraud|FRAUD - IMPERSONA...|     E18|           486|    null|2015-07-01 12:00:00|2015|    7|  Wednesday|  12|  Part Two|  OAKCREST RD|42.26452149|-71.10429211|(42.26452149, -71...|
|     I182039429|       01107|              Fraud|FRAUD - IMPERSONA...|      C6|           226|    null|2015-11-26 08:00:00|2015|   11|   Thursday|   8|  Part Two|  E FOURTH ST|       null|        null|(0.00000000, 0.00...|
|     I182032622|       02647|              Other|THREATS TO DO BOD...|      D4|           129|    null|2015-10-10 13:17:00|2015|   10|   Saturday|  13|  Part Two|  BERKELEY ST|42.34997636|-71.07242619|(42.34997636, -71...|
|     I182031354|       01102|              Fraud|FRAUD - FALSE PRE...|     D14|           791|    null|2015-09-15 11:00:00|2015|    9|    Tuesday|  11|  Part Two|   ALLSTON ST|42.34438811| -71.1405858|(42.34438811, -71...|
+---------------+------------+-------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-------------+-----------+------------+--------------------+
only showing top 20 rows

In [26]:
union_data.show()

+---------------+------------+-------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-------------+-----------+------------+--------------------+
|            _c0|         _c1|                _c2|                 _c3|     _c4|           _c5|     _c6|                _c7| _c8|  _c9|       _c10|_c11|      _c12|         _c13|       _c14|        _c15|                _c16|
+---------------+------------+-------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-------------+-----------+------------+--------------------+
|INCIDENT_NUMBER|OFFENSE_CODE| OFFENSE_CODE_GROUP| OFFENSE_DESCRIPTION|DISTRICT|REPORTING_AREA|SHOOTING|   OCCURRED_ON_DATE|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|       STREET|        Lat|        Long|            Location|
|     I192068249|       02647|              Other|THREATS TO DO BOD...|      B2|           280|    null|2015-08-28 10:20:00|2015|    8|     Friday|  10|  Part Two|WASHINGTON ST|42.33011862|-71.08425106|(42.33011862, -71...|
|     I192061894|       01106|   Confidence Games|FRAUD - CREDIT CA...|     C11|           356|    null|2015-08-20 00:00:00|2015|    8|   Thursday|   0|  Part Two|   CHARLES ST|42.30060543|-71.06126785|(42.30060543, -71...|
|     I192038828|       01107|              Fraud|FRAUD - IMPERSONA...|      A1|           172|    null|2015-11-02 12:24:00|2015|   11|     Monday|  12|  Part Two|    ALBANY ST|42.33428841|-71.07239518|(42.33428841, -71...|
|     I192008877|       01107|              Fraud|FRAUD - IMPERSONA...|     E18|           525|    null|2015-07-31 10:00:00|2015|    7|     Friday|  10|  Part Two|   WINGATE RD| 42.2370095|-71.12956606|(42.23700950, -71...|
|     I182090828|       01102|              Fraud|FRAUD - FALSE PRE...|      D4|           159|    null|2015-12-01 12:00:00|2015|   12|    Tuesday|  12|  Part Two|     UPTON ST|42.34243222|-71.07225766|(42.34243222, -71...|
|     I182090458|       01107|              Fraud|FRAUD - IMPERSONA...|     C11|           336|    null|2015-12-04 00:00:00|2015|   12|     Friday|   0|  Part Two|    NORTON ST|42.30626521|-71.06864556|(42.30626521, -71...|
|     I182081063|       01107|              Fraud|FRAUD - IMPERSONA...|     E18|           478|    null|2015-12-01 12:25:00|2015|   12|    Tuesday|  12|  Part Two|RUSKINDALE RD|42.26889666| -71.1081375|(42.26889666, -71...|
|     I182074094|       02629|         Harassment|          HARASSMENT|      B2|           258|    null|2015-09-14 09:31:00|2015|    9|     Monday|   9|  Part Two|  COLUMBIA RD|42.31514179|-71.06704709|(42.31514179, -71...|
|     I182066132|       02629|         Harassment|          HARASSMENT|      B3|           455|    null|2015-07-31 23:27:00|2015|    7|     Friday|  23|  Part Two| RADCLIFFE ST|42.30020194|-71.07835353|(42.30020194, -71...|
|     I182061268|       03201|      Property Lost|     PROPERTY - LOST|    null|              |    null|2015-06-15 00:00:00|2015|    6|     Monday|   0|Part Three|      BERNARD|         -1|          -1|(-1.00000000, -1....|
|     I182054888|       02670|Criminal Harassment| CRIMINAL HARASSMENT|      B2|           326|    null|2015-07-12 15:37:00|2015|    7|     Sunday|  15|  Part Two|   FAYSTON ST|42.31224327|-71.07549901|(42.31224327, -71...|
|     I182054888|       03170|              Other|INTIMIDATING WITNESS|      B2|           326|    null|2015-07-12 15:37:00|2015|    7|     Sunday|  15|Part Three|   FAYSTON ST|42.31224327|-71.07549901|(42.31224327, -71...|
|     I182054888|       02647|              Other|THREATS TO DO BOD...|      B2|           326|    null|2015-07-12 15:37:00|2015|    7|     Sunday|  15|  Part Two|   FAYSTON ST|42.31224327|-71.07549901|(42.31224327, -71...|
|     I182052842|       01102|              Fraud|FRAUD - FALSE PRE...|      D4|           149|    null|2015-12-20 14:00:00|2015|   12|     Sunday|  14|  Part Two| DARTMOUTH ST|42.34767067|-71.07620742|(42.34767067, -71...|
|     I182052842|       00619|            Larceny|  LARCENY ALL OTHERS|      D4|           149|    null|2015-12-20 14:00:00|2015|   12|     Sunday|  14|  Part One| DARTMOUTH ST|42.34767067|-71.07620742|(42.34767067, -71...|
|     I182044114|       01107|              Fraud|FRAUD - IMPERSONA...|     E18|           486|    null|2015-07-01 12:00:00|2015|    7|  Wednesday|  12|  Part Two|  OAKCREST RD|42.26452149|-71.10429211|(42.26452149, -71...|
|     I182039429|       01107|              Fraud|FRAUD - IMPERSONA...|      C6|           226|    null|2015-11-26 08:00:00|2015|   11|   Thursday|   8|  Part Two|  E FOURTH ST|       null|        null|(0.00000000, 0.00...|
|     I182032622|       02647|              Other|THREATS TO DO BOD...|      D4|           129|    null|2015-10-10 13:17:00|2015|   10|   Saturday|  13|  Part Two|  BERKELEY ST|42.34997636|-71.07242619|(42.34997636, -71...|
|     I182031354|       01102|              Fraud|FRAUD - FALSE PRE...|     D14|           791|    null|2015-09-15 11:00:00|2015|    9|    Tuesday|  11|  Part Two|   ALLSTON ST|42.34438811| -71.1405858|(42.34438811, -71...|
+---------------+------------+-------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-------------+-----------+------------+--------------------+
only showing top 20 rows

In [25]:
union_data.describe().toPandas().transpose()

              0  ...                                 4
summary   count  ...                               max
_c0      353257  ...                   INCIDENT_NUMBER
_c1      353257  ...                      OFFENSE_CODE
_c2      353257  ...                   Warrant Arrests
_c3      353257  ...  WEAPON - OTHER - OTHER VIOLATION
_c4      351430  ...                                E5
_c5      353257  ...                    REPORTING_AREA
_c6        1459  ...                                 Y
_c7      353257  ...                  OCCURRED_ON_DATE
_c8      353257  ...                              YEAR
_c9      353257  ...                             MONTH
_c10     353257  ...                         Wednesday
_c11     353257  ...                              HOUR
_c12     353160  ...                          UCR_PART
_c13     342052  ...                         ZELLER ST
_c14     330727  ...                               Lat
_c15     330727  ...                              Long
_c16     353257  ...                          Location

[18 rows x 5 columns]

In [38]:
columns_to_drop = ['INCIDENT_NUMBER', 'OFFENSE_CODE']

union_data = union_data.drop(*columns_to_drop)

In [52]:
#union_data.drop('INCIDENT_NUMBER').collect()

df11 = union_data.drop('OFFENSE_CODE')

In [53]:
df11.show()

+---------------+------------+-------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-------------+-----------+------------+--------------------+
|            _c0|         _c1|                _c2|                 _c3|     _c4|           _c5|     _c6|                _c7| _c8|  _c9|       _c10|_c11|      _c12|         _c13|       _c14|        _c15|                _c16|
+---------------+------------+-------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-------------+-----------+------------+--------------------+
|INCIDENT_NUMBER|OFFENSE_CODE| OFFENSE_CODE_GROUP| OFFENSE_DESCRIPTION|DISTRICT|REPORTING_AREA|SHOOTING|   OCCURRED_ON_DATE|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|       STREET|        Lat|        Long|            Location|
|     I192068249|       02647|              Other|THREATS TO DO BOD...|      B2|           280|    null|2015-08-28 10:20:00|2015|    8|     Friday|  10|  Part Two|WASHINGTON ST|42.33011862|-71.08425106|(42.33011862, -71...|
|     I192061894|       01106|   Confidence Games|FRAUD - CREDIT CA...|     C11|           356|    null|2015-08-20 00:00:00|2015|    8|   Thursday|   0|  Part Two|   CHARLES ST|42.30060543|-71.06126785|(42.30060543, -71...|
|     I192038828|       01107|              Fraud|FRAUD - IMPERSONA...|      A1|           172|    null|2015-11-02 12:24:00|2015|   11|     Monday|  12|  Part Two|    ALBANY ST|42.33428841|-71.07239518|(42.33428841, -71...|
|     I192008877|       01107|              Fraud|FRAUD - IMPERSONA...|     E18|           525|    null|2015-07-31 10:00:00|2015|    7|     Friday|  10|  Part Two|   WINGATE RD| 42.2370095|-71.12956606|(42.23700950, -71...|
|     I182090828|       01102|              Fraud|FRAUD - FALSE PRE...|      D4|           159|    null|2015-12-01 12:00:00|2015|   12|    Tuesday|  12|  Part Two|     UPTON ST|42.34243222|-71.07225766|(42.34243222, -71...|
|     I182090458|       01107|              Fraud|FRAUD - IMPERSONA...|     C11|           336|    null|2015-12-04 00:00:00|2015|   12|     Friday|   0|  Part Two|    NORTON ST|42.30626521|-71.06864556|(42.30626521, -71...|
|     I182081063|       01107|              Fraud|FRAUD - IMPERSONA...|     E18|           478|    null|2015-12-01 12:25:00|2015|   12|    Tuesday|  12|  Part Two|RUSKINDALE RD|42.26889666| -71.1081375|(42.26889666, -71...|
|     I182074094|       02629|         Harassment|          HARASSMENT|      B2|           258|    null|2015-09-14 09:31:00|2015|    9|     Monday|   9|  Part Two|  COLUMBIA RD|42.31514179|-71.06704709|(42.31514179, -71...|
|     I182066132|       02629|         Harassment|          HARASSMENT|      B3|           455|    null|2015-07-31 23:27:00|2015|    7|     Friday|  23|  Part Two| RADCLIFFE ST|42.30020194|-71.07835353|(42.30020194, -71...|
|     I182061268|       03201|      Property Lost|     PROPERTY - LOST|    null|              |    null|2015-06-15 00:00:00|2015|    6|     Monday|   0|Part Three|      BERNARD|         -1|          -1|(-1.00000000, -1....|
|     I182054888|       02670|Criminal Harassment| CRIMINAL HARASSMENT|      B2|           326|    null|2015-07-12 15:37:00|2015|    7|     Sunday|  15|  Part Two|   FAYSTON ST|42.31224327|-71.07549901|(42.31224327, -71...|
|     I182054888|       03170|              Other|INTIMIDATING WITNESS|      B2|           326|    null|2015-07-12 15:37:00|2015|    7|     Sunday|  15|Part Three|   FAYSTON ST|42.31224327|-71.07549901|(42.31224327, -71...|
|     I182054888|       02647|              Other|THREATS TO DO BOD...|      B2|           326|    null|2015-07-12 15:37:00|2015|    7|     Sunday|  15|  Part Two|   FAYSTON ST|42.31224327|-71.07549901|(42.31224327, -71...|
|     I182052842|       01102|              Fraud|FRAUD - FALSE PRE...|      D4|           149|    null|2015-12-20 14:00:00|2015|   12|     Sunday|  14|  Part Two| DARTMOUTH ST|42.34767067|-71.07620742|(42.34767067, -71...|
|     I182052842|       00619|            Larceny|  LARCENY ALL OTHERS|      D4|           149|    null|2015-12-20 14:00:00|2015|   12|     Sunday|  14|  Part One| DARTMOUTH ST|42.34767067|-71.07620742|(42.34767067, -71...|
|     I182044114|       01107|              Fraud|FRAUD - IMPERSONA...|     E18|           486|    null|2015-07-01 12:00:00|2015|    7|  Wednesday|  12|  Part Two|  OAKCREST RD|42.26452149|-71.10429211|(42.26452149, -71...|
|     I182039429|       01107|              Fraud|FRAUD - IMPERSONA...|      C6|           226|    null|2015-11-26 08:00:00|2015|   11|   Thursday|   8|  Part Two|  E FOURTH ST|       null|        null|(0.00000000, 0.00...|
|     I182032622|       02647|              Other|THREATS TO DO BOD...|      D4|           129|    null|2015-10-10 13:17:00|2015|   10|   Saturday|  13|  Part Two|  BERKELEY ST|42.34997636|-71.07242619|(42.34997636, -71...|
|     I182031354|       01102|              Fraud|FRAUD - FALSE PRE...|     D14|           791|    null|2015-09-15 11:00:00|2015|    9|    Tuesday|  11|  Part Two|   ALLSTON ST|42.34438811| -71.1405858|(42.34438811, -71...|
+---------------+------------+-------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-------------+-----------+------------+--------------------+
only showing top 20 rows

In [42]:
drop_column_list = ["INCIDENT_NUMBER"]
union_data = union_data.select([column for column in union_data.columns if column not in drop_column_list])

In [43]:
union_data.show()

+---------------+------------+-------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-------------+-----------+------------+--------------------+
|            _c0|         _c1|                _c2|                 _c3|     _c4|           _c5|     _c6|                _c7| _c8|  _c9|       _c10|_c11|      _c12|         _c13|       _c14|        _c15|                _c16|
+---------------+------------+-------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-------------+-----------+------------+--------------------+
|INCIDENT_NUMBER|OFFENSE_CODE| OFFENSE_CODE_GROUP| OFFENSE_DESCRIPTION|DISTRICT|REPORTING_AREA|SHOOTING|   OCCURRED_ON_DATE|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|       STREET|        Lat|        Long|            Location|
|     I192068249|       02647|              Other|THREATS TO DO BOD...|      B2|           280|    null|2015-08-28 10:20:00|2015|    8|     Friday|  10|  Part Two|WASHINGTON ST|42.33011862|-71.08425106|(42.33011862, -71...|
|     I192061894|       01106|   Confidence Games|FRAUD - CREDIT CA...|     C11|           356|    null|2015-08-20 00:00:00|2015|    8|   Thursday|   0|  Part Two|   CHARLES ST|42.30060543|-71.06126785|(42.30060543, -71...|
|     I192038828|       01107|              Fraud|FRAUD - IMPERSONA...|      A1|           172|    null|2015-11-02 12:24:00|2015|   11|     Monday|  12|  Part Two|    ALBANY ST|42.33428841|-71.07239518|(42.33428841, -71...|
|     I192008877|       01107|              Fraud|FRAUD - IMPERSONA...|     E18|           525|    null|2015-07-31 10:00:00|2015|    7|     Friday|  10|  Part Two|   WINGATE RD| 42.2370095|-71.12956606|(42.23700950, -71...|
|     I182090828|       01102|              Fraud|FRAUD - FALSE PRE...|      D4|           159|    null|2015-12-01 12:00:00|2015|   12|    Tuesday|  12|  Part Two|     UPTON ST|42.34243222|-71.07225766|(42.34243222, -71...|
|     I182090458|       01107|              Fraud|FRAUD - IMPERSONA...|     C11|           336|    null|2015-12-04 00:00:00|2015|   12|     Friday|   0|  Part Two|    NORTON ST|42.30626521|-71.06864556|(42.30626521, -71...|
|     I182081063|       01107|              Fraud|FRAUD - IMPERSONA...|     E18|           478|    null|2015-12-01 12:25:00|2015|   12|    Tuesday|  12|  Part Two|RUSKINDALE RD|42.26889666| -71.1081375|(42.26889666, -71...|
|     I182074094|       02629|         Harassment|          HARASSMENT|      B2|           258|    null|2015-09-14 09:31:00|2015|    9|     Monday|   9|  Part Two|  COLUMBIA RD|42.31514179|-71.06704709|(42.31514179, -71...|
|     I182066132|       02629|         Harassment|          HARASSMENT|      B3|           455|    null|2015-07-31 23:27:00|2015|    7|     Friday|  23|  Part Two| RADCLIFFE ST|42.30020194|-71.07835353|(42.30020194, -71...|
|     I182061268|       03201|      Property Lost|     PROPERTY - LOST|    null|              |    null|2015-06-15 00:00:00|2015|    6|     Monday|   0|Part Three|      BERNARD|         -1|          -1|(-1.00000000, -1....|
|     I182054888|       02670|Criminal Harassment| CRIMINAL HARASSMENT|      B2|           326|    null|2015-07-12 15:37:00|2015|    7|     Sunday|  15|  Part Two|   FAYSTON ST|42.31224327|-71.07549901|(42.31224327, -71...|
|     I182054888|       03170|              Other|INTIMIDATING WITNESS|      B2|           326|    null|2015-07-12 15:37:00|2015|    7|     Sunday|  15|Part Three|   FAYSTON ST|42.31224327|-71.07549901|(42.31224327, -71...|
|     I182054888|       02647|              Other|THREATS TO DO BOD...|      B2|           326|    null|2015-07-12 15:37:00|2015|    7|     Sunday|  15|  Part Two|   FAYSTON ST|42.31224327|-71.07549901|(42.31224327, -71...|
|     I182052842|       01102|              Fraud|FRAUD - FALSE PRE...|      D4|           149|    null|2015-12-20 14:00:00|2015|   12|     Sunday|  14|  Part Two| DARTMOUTH ST|42.34767067|-71.07620742|(42.34767067, -71...|
|     I182052842|       00619|            Larceny|  LARCENY ALL OTHERS|      D4|           149|    null|2015-12-20 14:00:00|2015|   12|     Sunday|  14|  Part One| DARTMOUTH ST|42.34767067|-71.07620742|(42.34767067, -71...|
|     I182044114|       01107|              Fraud|FRAUD - IMPERSONA...|     E18|           486|    null|2015-07-01 12:00:00|2015|    7|  Wednesday|  12|  Part Two|  OAKCREST RD|42.26452149|-71.10429211|(42.26452149, -71...|
|     I182039429|       01107|              Fraud|FRAUD - IMPERSONA...|      C6|           226|    null|2015-11-26 08:00:00|2015|   11|   Thursday|   8|  Part Two|  E FOURTH ST|       null|        null|(0.00000000, 0.00...|
|     I182032622|       02647|              Other|THREATS TO DO BOD...|      D4|           129|    null|2015-10-10 13:17:00|2015|   10|   Saturday|  13|  Part Two|  BERKELEY ST|42.34997636|-71.07242619|(42.34997636, -71...|
|     I182031354|       01102|              Fraud|FRAUD - FALSE PRE...|     D14|           791|    null|2015-09-15 11:00:00|2015|    9|    Tuesday|  11|  Part Two|   ALLSTON ST|42.34438811| -71.1405858|(42.34438811, -71...|
+---------------+------------+-------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-------------+-----------+------------+--------------------+
only showing top 20 rows

In [ ]:

from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StringIndexer

from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline

indexers = [StringIndexer(inputCol="Origin", outputCol="OriginIndex"),StringIndexer(inputCol="Manufacturer", outputCol="ManufactureIndex") , StringIndexer(inputCol="Model", outputCol="ModelIndex")]


pipeline = Pipeline(stages=indexers)
car_df = pipeline.fit(car_df).transform(car_df)

car_df.show()

vectorAssembler = VectorAssembler(inputCols = ['Cylinders','Displacement','ManufactureIndex','ModelIndex','OriginIndex','Weight'], outputCol = 'features')
vcar_df = vectorAssembler.transform(car_df)

vcar_df = vcar_df.select(['features', 'Horsepower'])

+---+------------+---------+------------+----------+-------------+--------------------+----------+----+-------+------+-----------+----------------+----------+
|_c0|Acceleration|Cylinders|Displacement|Horsepower| Manufacturer|               Model|Model_Year| MPG| Origin|Weight|OriginIndex|ManufactureIndex|ModelIndex|
+---+------------+---------+------------+----------+-------------+--------------------+----------+----+-------+------+-----------+----------------+----------+
|  1|        12.0|        8|         307|       130|chevrolet    |chevrolet chevell...|        70|18.0|USA    |  3504|        0.0|             1.0|      26.0|
|  2|        11.5|        8|         350|       165|buick        |buick skylark 320...|        70|15.0|USA    |  3693|        0.0|             9.0|      17.0|
|  3|        11.0|        8|         318|       150|plymouth     |plymouth satellit...|        70|18.0|USA    |  3436|        0.0|             4.0|      77.0|
|  4|        12.0|        8|         304|       150|amc          |amc rebel sst    ...|        70|16.0|USA    |  3433|        0.0|             2.0|      11.0|
|  5|        10.5|        8|         302|       140|ford         |ford torino      ...|        70|17.0|USA    |  3449|        0.0|             0.0|      61.0|
|  6|        10.0|        8|         429|       198|ford         |ford galaxie 500 ...|        70|15.0|USA    |  4341|        0.0|             0.0|      53.0|
|  7|         9.0|        8|         454|       220|chevrolet    |chevrolet impala ...|        70|14.0|USA    |  4354|        0.0|             1.0|      29.0|
|  8|         8.5|        8|         440|       215|plymouth     |plymouth fury iii...|        70|14.0|USA    |  4312|        0.0|             4.0|      75.0|
|  9|        10.0|        8|         455|       225|pontiac      |pontiac catalina ...|        70|14.0|USA    |  4425|        0.0|             8.0|      81.0|
| 10|         8.5|        8|         390|       190|amc          |amc ambassador dp...|        70|15.0|USA    |  3850|        0.0|             2.0|       6.0|
| 11|        17.5|        4|         133|       115|citroen      |citroen ds-21 pal...|        70|14.0|France |  3090|        3.0|            17.0|      35.0|
| 12|        11.5|        8|         350|       165|chevrolet    |chevrolet chevell...|        70|16.0|USA    |  4142|        0.0|             1.0|      25.0|
| 13|        11.0|        8|         351|       153|ford         |ford torino (sw) ...|        70|17.0|USA    |  4034|        0.0|             0.0|      62.0|
| 14|        10.5|        8|         383|       175|plymouth     |plymouth satellit...|        70|19.0|USA    |  4166|        0.0|             4.0|      78.0|
| 15|        11.0|        8|         360|       175|amc          |amc rebel sst (sw...|        70|20.0|USA    |  3850|        0.0|             2.0|      12.0|
| 16|        10.0|        8|         383|       170|dodge        |dodge challenger ...|        70|15.0|USA    |  3563|        0.0|             3.0|      41.0|
| 17|         8.0|        8|         340|       160|plymouth     |plymouth 'cuda 34...|        70|14.0|USA    |  3609|        0.0|             4.0|      73.0|
| 18|         8.0|        8|         302|       140|ford         |ford mustang boss...|        70|16.0|USA    |  3353|        0.0|             0.0|      57.0|
| 19|         9.5|        8|         400|       150|chevrolet    |chevrolet monte c...|        70|15.0|USA    |  3761|        0.0|             1.0|      30.0|
| 20|        10.0|        8|         455|       225|buick        |buick estate wago...|        70|14.0|USA    |  3086|        0.0|             9.0|      16.0|
+---+------------+---------+------------+----------+-------------+--------------------+----------+----+-------+------+-----------+----------------+----------+
only showing top 20 rows

In [ ]:
splits = vcar_df.randomSplit([0.9, 0.1])
train_df = splits[0]
test_df = splits[1]

In [ ]:
from pyspark.ml.regression import DecisionTreeRegressor
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.feature import VectorAssembler

vectorAssembler = VectorAssembler(inputCols = ['Cylinders','ManufactureIndex','ModelIndex','OriginIndex','Displacement','Weight'], outputCol = 'features')
vcar_df = vectorAssembler.transform(car_df)

dt = DecisionTreeRegressor(featuresCol ='features', labelCol = 'Horsepower')




dt_model = dt.fit(train_df)

dt_predictions_train = dt_model.transform(train_df)

dt_predictions_test = dt_model.transform(test_df)
dt_evaluator = RegressionEvaluator(
    labelCol="Horsepower", predictionCol="prediction", metricName="rmse")
rmse_train = dt_evaluator.evaluate(dt_predictions_train)
rmse_test = dt_evaluator.evaluate(dt_predictions_test)

print("Root Mean Squared Error (RMSE) on train data = %g" % rmse_train)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse_test)

Root Mean Squared Error (RMSE) on train data = 6.79108
Root Mean Squared Error (RMSE) on test data = 18.1077